# Django Settings
DJANGO_SETTINGS_MODULE=settings file location
SECRET_KEY=any random strings 
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

CORS_ALLOWED_ORIGINS=http://localhost:5173


# Database Configuration
DB_NAME=database name  eg-my_db
DB_HOST= database host eg-localhost
DB_PORT=database port eg 5432 
DB_USER=database username
DB_PASSWORD=database password 